<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<ScientificProjectsPath>$(GameModsFolder)ScientificProjects\$(TimberbornVersion)\**\*.dll</ScientificProjectsPath>
	</PropertyGroup>

	<ItemGroup>
		<Using Include="ScientificProjects" />
		<Using Include="ScientificProjects.Management" />

		<Reference Include="$(ScientificProjectsPath)">
			<Private>false</Private>
		</Reference>	
	</ItemGroup>

</Project>