<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<ModPath>D:\Software\SteamLibrary\steamapps\workshop\content\1062090\</ModPath>

		<TimberbornVersion>version-1.0</TimberbornVersion>
		<IsU7>false</IsU7>
		<IsV1>false</IsV1>

		<IsU7 Condition="$(TimberbornVersion)=='version-0.7'">true</IsU7>
		<IsV1 Condition="$(TimberbornVersion)=='version-1.0'">true</IsV1>

		<AssemblyPath>D:\Software\SteamLibrary\steamapps\common\Timberborn\Timberborn_Data\Managed</AssemblyPath>

		<DefineConstants Condition="$(IsU7)">$(DefineConstants);TIMBER7</DefineConstants>
		<DefineConstants Condition="$(IsV1)">$(DefineConstants);TIMBERV1</DefineConstants>

		<GameSolutionFolder Condition="'$(GameSolutionFolder)'==''">..\</GameSolutionFolder>
		<GameModsFolder>C:\Users\lukev\OneDrive\Documents\Timberborn\Mods\</GameModsFolder>
		<ModFolder>$(GameModsFolder)$(OutputModFolderName)\$(TimberbornVersion)\</ModFolder>

		<!-- For ignoring Member Accessibility, see https://stackoverflow.com/a/79512179/653457 -->
		<AllowUnsafeBlocks>true</AllowUnsafeBlocks>
	</PropertyGroup>

	<Target Name="PrepareFilesForCopy" AfterTargets="Build">
		<ItemGroup>
			<LocalizationFiles Include="$(OutputPath)Localizations\**\*.*" />
			<DllFiles Include="$(OutputPath)\**\*.dll"/>
			<Assets Include="$(OutputPath)\Assets\**\*"/>
			<AssetBundles Include="$(OutputPath)\AssetBundles\**\*"/>
			<Sprites Include="$(OutputPath)\Sprites\**\*"/>
			<Specifications Include="$(OutputPath)\Specifications\**\*"/>
			<ModResources Include="$(OutputPath)\Resources\**\*"/>
			<ModSounds Include="$(OutputPath)\Sounds\**\*"/>
			<ModManifestFile Include="$(OutputPath)\**\manifest.json" />
			<ModWorkshopDataFile Include="$(OutputPath)\**\workshop_data.json" />
			<RootCopyFile Include="$(OutputPath)Root\**\*" />

			<Blueprints Condition="$(IsV1)" Include="$(OutputPath)\Blueprints\**\*.blueprint.json"/>
			<Blueprints Condition="$(IsU7)" Include="$(OutputPath)\Blueprints\**\*" Exclude="$(OutputPath)\Blueprints\**\*.blueprint.json"/>
			<Blueprints Condition="$(IsU7)" Include="$(OutputPath)\Blueprints\**\*.U7.blueprint.json"/>
		</ItemGroup>
	</Target>

</Project>
