<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<TargetFramework>netstandard2.1</TargetFramework>
		<LangVersion>preview</LangVersion>
		<ImplicitUsings>enable</ImplicitUsings>
		<Nullable>enable</Nullable>

		<DebugSymbols>true</DebugSymbols>
		<DebugType>embedded</DebugType>

		<ModPath>E:\SteamLibrary\steamapps\workshop\content\1062090\</ModPath>

		<TimberbornVersion>version-0.6</TimberbornVersion>
		<IsU6>false</IsU6>
		<IsU7>false</IsU7>

		<IsU6 Condition="$(TimberbornVersion)=='version-0.6'">true</IsU6>
		<IsU7 Condition="$(TimberbornVersion)=='version-0.7'">true</IsU7>

		<AssemblyPath Condition="$(IsU6)">D:\Personal\Mods\Timberborn\U6Data\AuxiliaryFiles\GameAssemblies\</AssemblyPath>
		<AssemblyPath Condition="$(IsU7)">E:\SteamLibrary\steamapps\common\Timberborn\Timberborn_Data\Managed</AssemblyPath>

		<DefineConstants Condition="$(IsU6)">TIMBER6</DefineConstants>
		<DefineConstants Condition="$(IsU7)">TIMBER7</DefineConstants>
	</PropertyGroup>

	<PropertyGroup>
		<GameModsFolder>C:\Users\lukev\OneDrive\Documents\Timberborn\Mods\</GameModsFolder>
		<ModFolder>$(GameModsFolder)Tmp\$(TimberbornVersion)\</ModFolder>
	</PropertyGroup>

	<ItemGroup>
		<LocalizationFiles Include="$(OutputPath)Localizations\**\*.*" />
		<DllFiles Include="$(OutputPath)\**\*.dll"/>
		<Sprites Include="$(OutputPath)\Sprites\**\*"/>
		<Blueprints Include="$(OutputPath)\Blueprints\**\*"/>
		<Specifications Include="$(OutputPath)\Specifications\**\*"/>
		<ModResources Include="$(OutputPath)\Resources\**\*"/>
	</ItemGroup>

	<Target Name="CopyFiles" AfterTargets="Build">
		<Message Text="Deleting..." />
		<RemoveDir Directories="$(ModFolder)" />

		<Message Text="Copying..." />
		<Copy SourceFiles="$(OutputPath)manifest.json" DestinationFolder="$(ModFolder)" />
		<Copy SourceFiles="@(DllFiles)" DestinationFolder="$(ModFolder)%(RecursiveDir)" />
		<Copy SourceFiles="@(LocalizationFiles)" DestinationFolder="$(ModFolder)Localizations\%(RecursiveDir)" />
		<Copy SourceFiles="@(Sprites)" DestinationFolder="$(ModFolder)sprites\%(RecursiveDir)" />
		<Copy SourceFiles="@(Blueprints)" DestinationFolder="$(ModFolder)blueprints\%(RecursiveDir)" />
		<Copy SourceFiles="@(Specifications)" DestinationFolder="$(ModFolder)Specifications\%(RecursiveDir)" />
		<Copy SourceFiles="@(ModResources)" DestinationFolder="$(ModFolder)Resources\%(RecursiveDir)" />

		<!-- Delete the workshop_data.json just to be sure -->
		<Delete Files="$(ModFolder)..\workshop_data.json" />
	</Target>

	<ItemGroup>
		<Content Include="Sprites\**\*">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</Content>
		<Content Include="Blueprints\**\*">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</Content>
		<Content Include="Specifications\**\*">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</Content>
		<Content Include="Resources\**\*">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</Content>
	</ItemGroup>

	<ItemGroup>
		<Using Include="System.Reflection" />
		<Using Include="Timberborn.ModManagerScene"/>
		<Using Include="Bindito.Core"/>
		<Using Include="Bindito.Unity"/>
		<Using Include="ModSettings.Common"/>
		<Using Include="ModSettings.Core"/>
		<Using Include="Timberborn.Common"/>
		<Using Include="Timberborn.Modding"/>
		<Using Include="Timberborn.SettingsSystem"/>
		<Using Include="Timberborn.SingletonSystem"/>
		<Using Include="Timberborn.Localization"/>
		<Using Include="Timberborn.Persistence"/>
		<Using Include="Timberborn.BaseComponentSystem"/>
		<Using Include="Timberborn.TemplateSystem"/>
		<Using Include="System.Collections.Immutable"/>
		<Using Include="UnityEngine"/>

		<None Update="manifest.json">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</None>
		<None Update="Localizations\**">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</None>
	</ItemGroup>

	<ItemGroup>
		<!-- Publicizer -->
		<PackageReference Include="BepInEx.AssemblyPublicizer.MSBuild" Version="0.4.3">
			<PrivateAssets>all</PrivateAssets>
			<IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
		</PackageReference>

		<!-- Game Assemblies -->
		<Reference Include="$(AssemblyPath)\Unity*.dll" Publicize="true">
			<DestinationSubDirectory>libs/</DestinationSubDirectory>
			<Private>False</Private>
		</Reference>
		<Reference Include="$(AssemblyPath)\Timberborn.*.dll" Publicize="true">
			<DestinationSubDirectory>libs/</DestinationSubDirectory>
			<Private>False</Private>
		</Reference>
		<Reference Include="$(AssemblyPath)\Bindito.*.dll" Publicize="true">
			<DestinationSubDirectory>libs/</DestinationSubDirectory>
			<Private>False</Private>
		</Reference>
		<Reference Include="$(AssemblyPath)\System.Collections.Immutable.dll">
			<Private>False</Private>
		</Reference>
		<Reference Include="$(AssemblyPath)\Newtonsoft.Json.dll">
			<Private>False</Private>
		</Reference>

		<!-- Mod Settings -->
		<Reference Include="$(ModPath)3283831040\$(TimberbornVersion)\Scripts\ModSettings.*.dll" Publicize="true">
			<DestinationSubDirectory>libs/</DestinationSubDirectory>
			<Private>False</Private>
		</Reference>
	</ItemGroup>

</Project>
