<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<ScientificProjectsPath>$(GameModsFolder)ScientificProjects\$(TimberbornVersion)\</ScientificProjectsPath>
	</PropertyGroup>

	<ItemGroup>
		<Using Include="ScientificProjects" />

		<Reference Include="$(GameSolutionFolder)GameAssemblyPublicizer\out\ScientificProjects\**\*.dll">
			<Private>false</Private>
		</Reference>	
	</ItemGroup>

</Project>