<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<ItemGroup>
		<Using Include="Timberborn.BaseComponentSystem" />
		<Using Include="Timberborn.EntityPanelSystem" />
		<Using Include="Timberborn.CoreUI" />
		<Using Include="Timberborn.UILayoutSystem" />

		<Using Include="UnityEngine.UIElements" />
	</ItemGroup>

</Project>