<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" InitialTargets="Validate">
	<ItemGroup>
		<!-- Common Global Usings-->
		<Using Include="System.Reflection" />
		<Using Include="System.Diagnostics.CodeAnalysis"/>

		<Using Include="Timberborn.ModManagerScene"/>
		<Using Include="Bindito.Core"/>
		<Using Include="Bindito.Unity"/>
		<Using Include="ModSettings.Common"/>
		<Using Include="ModSettings.Core"/>
		<Using Include="Timberborn.Common"/>
		<Using Include="Timberborn.Modding"/>
		<Using Include="Timberborn.SettingsSystem"/>
		<Using Include="Timberborn.SingletonSystem"/>
		<Using Include="Timberborn.Localization"/>
		<Using Include="Timberborn.Persistence"/>
		<Using Include="Timberborn.BaseComponentSystem"/>
		<Using Include="Timberborn.TemplateSystem"/>
		<Using Include="Timberborn.WorldPersistence"/>
		<Using Include="Timberborn.BlueprintSystem"/>
		<Using Include="Timberborn.TickSystem"/>
		<Using Include="Timberborn.LifeSystem"/>
		<Using Include="Timberborn.Beavers"/>
		<Using Include="Timberborn.Bots"/>
		<Using Include="Timberborn.DeteriorationSystem"/>
		<Using Include="Timberborn.Goods"/>

		
		<Using Include="System.Collections.Immutable"/>
		<Using Include="System.Collections.Frozen"/>
		<Using Include="System.Runtime.CompilerServices"/>

		<Using Include="UnityEngine"/>
	</ItemGroup>
</Project>