<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" InitialTargets="Validate">
	<ItemGroup>
		<!-- Common Global Usings-->
		<Using Include="Bindito.Core"/>
		<Using Include="Bindito.Unity"/>

		<Using Include="ModSettings.Common"/>
		<Using Include="ModSettings.Core"/>

		<Using Include="Newtonsoft.Json"/>

		<Using Include="System.Collections.Frozen"/>
		<Using Include="System.Collections.Immutable"/>
		<Using Include="System.Diagnostics.CodeAnalysis"/>
		<Using Include="System.Reflection"/>
		<Using Include="System.Runtime.CompilerServices"/>
		<Using Include="System.Text"/>

		<Using Include="UnityEngine"/>
		<Using Include="UnityEngine.UIElements" />

		<Using Include="Timberborn.AlertPanelSystem"/>
		<Using Include="Timberborn.Analytics"/>
		<Using Include="Timberborn.AnalyticsUI"/>
		<Using Include="Timberborn.Animations"/>
		<Using Include="Timberborn.ApplicationLifetime"/>
		<Using Include="Timberborn.ApplicationSettingsSystem"/>
		<Using Include="Timberborn.AreaSelectionSystem"/>
		<Using Include="Timberborn.AreaSelectionSystemUI"/>
		<Using Include="Timberborn.AssetSystem"/>
		<Using Include="Timberborn.Attractions"/>
		<Using Include="Timberborn.AttractionsBatchControl"/>
		<Using Include="Timberborn.AttractionsUI"/>
		<Using Include="Timberborn.Autosaving"/>
		<Using Include="Timberborn.AutosavingUI"/>
		<Using Include="Timberborn.BaseComponentSystem"/>
		<Using Include="Timberborn.BatchControl"/>
		<Using Include="Timberborn.BeaverBehavior"/>
		<Using Include="Timberborn.BeaverContaminationSystem"/>
		<Using Include="Timberborn.BeaverContaminationSystemUI"/>
		<Using Include="Timberborn.Beavers"/>
		<Using Include="Timberborn.BeaversUI"/>
		<Using Include="Timberborn.BehaviorSystem"/>
		<Using Include="Timberborn.BehaviorSystemUI"/>
		<Using Include="Timberborn.Benchmarking"/>
		<Using Include="Timberborn.BenchmarkingUI"/>
		<Using Include="Timberborn.BlockAndTerrainLoadValidation"/>
		<Using Include="Timberborn.BlockObjectAccesses"/>
		<Using Include="Timberborn.BlockObjectModelSystem"/>
		<Using Include="Timberborn.BlockObjectPickingSystem"/>
		<Using Include="Timberborn.BlockObjectTools"/>
		<Using Include="Timberborn.BlockObstacles"/>
		<Using Include="Timberborn.BlockSystem"/>
		<Using Include="Timberborn.BlockSystemNavigation"/>
		<Using Include="Timberborn.BlockSystemUI"/>
		<Using Include="Timberborn.BlueprintSystem"/>
		<Using Include="Timberborn.BonusSystem"/>
		<Using Include="Timberborn.BonusSystemUI"/>
		<Using Include="Timberborn.BotBehavior"/>
		<Using Include="Timberborn.Bots"/>
		<Using Include="Timberborn.BotsUI"/>
		<Using Include="Timberborn.BotUpkeep"/>
		<Using Include="Timberborn.BottomBarSystem"/>
		<Using Include="Timberborn.BottomMatching"/>
		<Using Include="Timberborn.Brushes"/>
		<Using Include="Timberborn.BrushesUI"/>
		<Using Include="Timberborn.BuilderHubSystem"/>
		<Using Include="Timberborn.BuilderPrioritySystem"/>
		<Using Include="Timberborn.BuilderPrioritySystemUI"/>
		<Using Include="Timberborn.BuildingDoorsteps"/>
		<Using Include="Timberborn.BuildingRange"/>
		<Using Include="Timberborn.Buildings"/>
		<Using Include="Timberborn.BuildingsBlocking"/>
		<Using Include="Timberborn.BuildingsNavigation"/>
		<Using Include="Timberborn.BuildingsReachability"/>
		<Using Include="Timberborn.BuildingStatuses"/>
		<Using Include="Timberborn.BuildingsUI"/>
		<Using Include="Timberborn.BuildingTools"/>
		<Using Include="Timberborn.CameraSystem"/>
		<Using Include="Timberborn.CameraWorldPosition"/>
		<Using Include="Timberborn.Carrying"/>
		<Using Include="Timberborn.CarryingUI"/>
		<Using Include="Timberborn.CharacterControlSystem"/>
		<Using Include="Timberborn.CharacterControlSystemUI"/>
		<Using Include="Timberborn.CharacterModelSystem"/>
		<Using Include="Timberborn.CharacterMovementSystem"/>
		<Using Include="Timberborn.CharacterMovementSystemUI"/>
		<Using Include="Timberborn.CharacterNavigation"/>
		<Using Include="Timberborn.Characters"/>
		<Using Include="Timberborn.CharactersBatchControl"/>
		<Using Include="Timberborn.CharactersUI"/>
		<Using Include="Timberborn.Clusters"/>
		<Using Include="Timberborn.ClustersUI"/>
		<Using Include="Timberborn.Colliders"/>
		<Using Include="Timberborn.CommandLine"/>
		<Using Include="Timberborn.Common"/>
		<Using Include="Timberborn.Console"/>
		<Using Include="Timberborn.ConstructionGuidelines"/>
		<Using Include="Timberborn.ConstructionGuidelinesUI"/>
		<Using Include="Timberborn.ConstructionMode"/>
		<Using Include="Timberborn.ConstructionSites"/>
		<Using Include="Timberborn.ConstructionSitesUI"/>
		<Using Include="Timberborn.Coordinates"/>
		<Using Include="Timberborn.CoreSound"/>
		<Using Include="Timberborn.CoreUI"/>
		<Using Include="Timberborn.CursorToolSystem"/>
		<Using Include="Timberborn.Cutting"/>
		<Using Include="Timberborn.DeathSystem"/>
		<Using Include="Timberborn.Debugging"/>
		<Using Include="Timberborn.DebuggingUI"/>
		<Using Include="Timberborn.DeconstructionSystem"/>
		<Using Include="Timberborn.DeconstructionSystemUI"/>
		<Using Include="Timberborn.Demolishing"/>
		<Using Include="Timberborn.DemolishingToolGroupSystem"/>
		<Using Include="Timberborn.DemolishingUI"/>
		<Using Include="Timberborn.DeteriorationSystem"/>
		<Using Include="Timberborn.DeteriorationSystemUI"/>
		<Using Include="Timberborn.Diagnostics"/>
		<Using Include="Timberborn.DiagnosticsUI"/>
		<Using Include="Timberborn.DistanceHeatmap"/>
		<Using Include="Timberborn.DistributionSystem"/>
		<Using Include="Timberborn.DistributionSystemBatchControl"/>
		<Using Include="Timberborn.DistributionSystemUI"/>
		<Using Include="Timberborn.DropdownSystem"/>
		<Using Include="Timberborn.DwellingSystem"/>
		<Using Include="Timberborn.DwellingSystemUI"/>
		<Using Include="Timberborn.Effects"/>
		<Using Include="Timberborn.Emptying"/>
		<Using Include="Timberborn.EnterableSystem"/>
		<Using Include="Timberborn.EntityPanelSystem"/>
		<Using Include="Timberborn.EntitySystem"/>
		<Using Include="Timberborn.ErrorReporting"/>
		<Using Include="Timberborn.ErrorReportingUI"/>
		<Using Include="Timberborn.ExperimentalModeSystem"/>
		<Using Include="Timberborn.Explosions"/>
		<Using Include="Timberborn.ExplosionsUI"/>
		<Using Include="Timberborn.FactionGoalsSystem"/>
		<Using Include="Timberborn.FactionSystem"/>
		<Using Include="Timberborn.FeatureToggleSystem"/>
		<Using Include="Timberborn.Fields"/>
		<Using Include="Timberborn.FieldsUI"/>
		<Using Include="Timberborn.FileBrowsing"/>
		<Using Include="Timberborn.FileSystem"/>
		<Using Include="Timberborn.Forestry"/>
		<Using Include="Timberborn.ForestryEffects"/>
		<Using Include="Timberborn.ForestryUI"/>
		<Using Include="Timberborn.GameAnalytics"/>
		<Using Include="Timberborn.GameBlockObjectButtonsSystem"/>
		<Using Include="Timberborn.GameCycleSystem"/>
		<Using Include="Timberborn.GameDistricts"/>
		<Using Include="Timberborn.GameDistrictsBatchControl"/>
		<Using Include="Timberborn.GameDistrictsMigration"/>
		<Using Include="Timberborn.GameDistrictsMigrationBatchControl"/>
		<Using Include="Timberborn.GameDistrictsUI"/>
		<Using Include="Timberborn.GameExitSystem"/>
		<Using Include="Timberborn.GameFactionSystem"/>
		<Using Include="Timberborn.GameFactionSystemUI"/>
		<Using Include="Timberborn.GameGoods"/>
		<Using Include="Timberborn.GameOver"/>
		<Using Include="Timberborn.GameOverUI"/>
		<Using Include="Timberborn.GameSaveRepositorySystem"/>
		<Using Include="Timberborn.GameSaveRepositorySystemUI"/>
		<Using Include="Timberborn.GameSaveRuntimeSystem"/>
		<Using Include="Timberborn.GameSaveRuntimeSystemUI"/>
		<Using Include="Timberborn.GameScene"/>
		<Using Include="Timberborn.GameSceneLoading"/>
		<Using Include="Timberborn.GameSound"/>
		<Using Include="Timberborn.GameStartup"/>
		<Using Include="Timberborn.GameWonderCompletion"/>
		<Using Include="Timberborn.GameWonderCompletionUI"/>
		<Using Include="Timberborn.Gathering"/>
		<Using Include="Timberborn.GatheringUI"/>
		<Using Include="Timberborn.GoodConsumingBuildingSystem"/>
		<Using Include="Timberborn.GoodConsumingBuildingSystemUI"/>
		<Using Include="Timberborn.Goods"/>
		<Using Include="Timberborn.GoodsMapEditor"/>
		<Using Include="Timberborn.GoodStackSystem"/>
		<Using Include="Timberborn.GoodStackSystemUI"/>
		<Using Include="Timberborn.GoodsUI"/>
		<Using Include="Timberborn.GridTraversing"/>
		<Using Include="Timberborn.Growing"/>
		<Using Include="Timberborn.GrowingUI"/>
		<Using Include="Timberborn.Hauling"/>
		<Using Include="Timberborn.HaulingUI"/>
		<Using Include="Timberborn.HazardousWeatherSystem"/>
		<Using Include="Timberborn.HazardousWeatherSystemUI"/>
		<Using Include="Timberborn.Healthcare"/>
		<Using Include="Timberborn.HousingBatchControl"/>
		<Using Include="Timberborn.InputSystem"/>
		<Using Include="Timberborn.InputSystemUI"/>
		<Using Include="Timberborn.InventoryNeedSystem"/>
		<Using Include="Timberborn.InventorySystem"/>
		<Using Include="Timberborn.InventorySystemBatchControl"/>
		<Using Include="Timberborn.InventorySystemUI"/>
		<Using Include="Timberborn.KeyBindingSystem"/>
		<Using Include="Timberborn.KeyBindingSystemUI"/>
		<Using Include="Timberborn.LaborSystem"/>
		<Using Include="Timberborn.LaborSystemInitialization"/>
		<Using Include="Timberborn.Language"/>
		<Using Include="Timberborn.LanguageUI"/>
		<Using Include="Timberborn.LevelVisibilitySystem"/>
		<Using Include="Timberborn.LevelVisibilitySystemUI"/>
		<Using Include="Timberborn.LifeSystem"/>
		<Using Include="Timberborn.LinkedBuildingSystem"/>
		<Using Include="Timberborn.LinkedBuildingSystemUI"/>
		<Using Include="Timberborn.Localization"/>
		<Using Include="Timberborn.LocalizationSerialization"/>
		<Using Include="Timberborn.MainMenuModdingUI"/>
		<Using Include="Timberborn.MainMenuPanels"/>
		<Using Include="Timberborn.MainMenuScene"/>
		<Using Include="Timberborn.MainMenuSceneLoading"/>
		<Using Include="Timberborn.MapEditorBrushesUI"/>
		<Using Include="Timberborn.MapEditorConstructionGuidelinesUI"/>
		<Using Include="Timberborn.MapEditorHazardousWeatherUI"/>
		<Using Include="Timberborn.MapEditorNaturalResources"/>
		<Using Include="Timberborn.MapEditorNaturalResourcesUI"/>
		<Using Include="Timberborn.MapEditorPersistence"/>
		<Using Include="Timberborn.MapEditorPersistenceUI"/>
		<Using Include="Timberborn.MapEditorPlacementRandomizing"/>
		<Using Include="Timberborn.MapEditorPlacementRandomizingUI"/>
		<Using Include="Timberborn.MapEditorScene"/>
		<Using Include="Timberborn.MapEditorSceneLoading"/>
		<Using Include="Timberborn.MapEditorSimulationSystem"/>
		<Using Include="Timberborn.MapEditorSimulationSystemUI"/>
		<Using Include="Timberborn.MapEditorStartup"/>
		<Using Include="Timberborn.MapEditorTickSystem"/>
		<Using Include="Timberborn.MapEditorUI"/>
		<Using Include="Timberborn.MapIndexSystem"/>
		<Using Include="Timberborn.MapItemsUI"/>
		<Using Include="Timberborn.MapMetadataSystem"/>
		<Using Include="Timberborn.MapMetadataSystemUI"/>
		<Using Include="Timberborn.MapRepositorySystem"/>
		<Using Include="Timberborn.MapRepositorySystemUI"/>
		<Using Include="Timberborn.MapStateSystem"/>
		<Using Include="Timberborn.MapSystem"/>
		<Using Include="Timberborn.MapThumbnail"/>
		<Using Include="Timberborn.MapThumbnailCapturing"/>
		<Using Include="Timberborn.MapThumbnailCapturingUI"/>
		<Using Include="Timberborn.MapThumbnailOverlaySystem"/>
		<Using Include="Timberborn.MechanicalSystem"/>
		<Using Include="Timberborn.MechanicalSystemUI"/>
		<Using Include="Timberborn.MergeableObjects"/>
		<Using Include="Timberborn.Metrics"/>
		<Using Include="Timberborn.Modding"/>
		<Using Include="Timberborn.ModdingAssets"/>
		<Using Include="Timberborn.ModdingUI"/>
		<Using Include="Timberborn.ModelAttachmentSystem"/>
		<Using Include="Timberborn.ModelHiding"/>
		<Using Include="Timberborn.ModManagerScene"/>
		<Using Include="Timberborn.ModManagerSceneUI"/>
		<Using Include="Timberborn.ModularShafts"/>
		<Using Include="Timberborn.MortalComponents"/>
		<Using Include="Timberborn.MortalSystem"/>
		<Using Include="Timberborn.MortalSystemUI"/>
		<Using Include="Timberborn.Multithreading"/>
		<Using Include="Timberborn.NaturalResources"/>
		<Using Include="Timberborn.NaturalResourcesContamination"/>
		<Using Include="Timberborn.NaturalResourcesContaminationUI"/>
		<Using Include="Timberborn.NaturalResourcesLifecycle"/>
		<Using Include="Timberborn.NaturalResourcesLifecycleModelSystem"/>
		<Using Include="Timberborn.NaturalResourcesLifecycleUI"/>
		<Using Include="Timberborn.NaturalResourcesModelSystem"/>
		<Using Include="Timberborn.NaturalResourcesMoisture"/>
		<Using Include="Timberborn.NaturalResourcesMoistureUI"/>
		<Using Include="Timberborn.NaturalResourcesReproduction"/>
		<Using Include="Timberborn.NaturalResourcesUI"/>
		<Using Include="Timberborn.Navigation"/>
		<Using Include="Timberborn.NavigationUI"/>
		<Using Include="Timberborn.NeedApplication"/>
		<Using Include="Timberborn.NeedBehaviorSystem"/>
		<Using Include="Timberborn.NeedSpecs"/>
		<Using Include="Timberborn.NeedSuspending"/>
		<Using Include="Timberborn.NeedSystem"/>
		<Using Include="Timberborn.NotificationSystem"/>
		<Using Include="Timberborn.NotificationSystemUI"/>
		<Using Include="Timberborn.Options"/>
		<Using Include="Timberborn.OptionsGame"/>
		<Using Include="Timberborn.Particles"/>
		<Using Include="Timberborn.PathSystem"/>
		<Using Include="Timberborn.PathSystemUI"/>
		<Using Include="Timberborn.Persistence"/>
		<Using Include="Timberborn.Planting"/>
		<Using Include="Timberborn.PlantingEffects"/>
		<Using Include="Timberborn.PlantingUI"/>
		<Using Include="Timberborn.PlatformUtilities"/>
		<Using Include="Timberborn.PlayerDataSystem"/>
		<Using Include="Timberborn.Pollination"/>
		<Using Include="Timberborn.Population"/>
		<Using Include="Timberborn.PopulationStatisticsSystem"/>
		<Using Include="Timberborn.PopulationUI"/>
		<Using Include="Timberborn.PopulationWorkStatistics"/>
		<Using Include="Timberborn.PowerBatchControl"/>
		<Using Include="Timberborn.PowerGenerating"/>
		<Using Include="Timberborn.PowerGeneratingUI"/>
		<Using Include="Timberborn.PowerStorage"/>
		<Using Include="Timberborn.PowerStorageUI"/>
		<Using Include="Timberborn.PrefabGroupSystem"/>
		<Using Include="Timberborn.PrefabOptimization"/>
		<Using Include="Timberborn.PrefabSystem"/>
		<Using Include="Timberborn.PrioritySystem"/>
		<Using Include="Timberborn.PrioritySystemUI"/>
		<Using Include="Timberborn.QuickNotificationSystem"/>
		<Using Include="Timberborn.RangedEffectBuildingUI"/>
		<Using Include="Timberborn.RangedEffectSystem"/>
		<Using Include="Timberborn.RecoverableGoodSystem"/>
		<Using Include="Timberborn.RecoverableGoodSystemUI"/>
		<Using Include="Timberborn.RecoveredGoodSystem"/>
		<Using Include="Timberborn.RecoveredGoodSystemUI"/>
		<Using Include="Timberborn.RelationSystem"/>
		<Using Include="Timberborn.RelationSystemUI"/>
		<Using Include="Timberborn.Rendering"/>
		<Using Include="Timberborn.Reproduction"/>
		<Using Include="Timberborn.ReproductionUI"/>
		<Using Include="Timberborn.ReservableSystem"/>
		<Using Include="Timberborn.ResourceCountingSystem"/>
		<Using Include="Timberborn.ResourceCountingSystemUI"/>
		<Using Include="Timberborn.RootProviders"/>
		<Using Include="Timberborn.Ruins"/>
		<Using Include="Timberborn.RuinsModelShuffling"/>
		<Using Include="Timberborn.RuinsNavigation"/>
		<Using Include="Timberborn.RuinsUI"/>
		<Using Include="Timberborn.SaveMetadataSaving"/>
		<Using Include="Timberborn.SaveMetadataSystem"/>
		<Using Include="Timberborn.SaveSystem"/>
		<Using Include="Timberborn.SaveThumbnail"/>
		<Using Include="Timberborn.SaveThumbnailCapturing"/>
		<Using Include="Timberborn.SceneLoading"/>
		<Using Include="Timberborn.ScienceSystem"/>
		<Using Include="Timberborn.ScienceSystemUI"/>
		<Using Include="Timberborn.ScreenCapturing"/>
		<Using Include="Timberborn.ScreenSystem"/>
		<Using Include="Timberborn.SelectionSystem"/>
		<Using Include="Timberborn.SelectionToolSystem"/>
		<Using Include="Timberborn.SerializationSystem"/>
		<Using Include="Timberborn.SettingsSystem"/>
		<Using Include="Timberborn.SettingsSystemUI"/>
		<Using Include="Timberborn.SettlementNameSystem"/>
		<Using Include="Timberborn.SettlementNameSystemUI"/>
		<Using Include="Timberborn.SettlementStatistics"/>
		<Using Include="Timberborn.SimpleOutputBuildings"/>
		<Using Include="Timberborn.SimpleOutputBuildingsUI"/>
		<Using Include="Timberborn.SimulationSystem"/>
		<Using Include="Timberborn.SingletonSystem"/>
		<Using Include="Timberborn.SkySystem"/>
		<Using Include="Timberborn.SleepSystem"/>
		<Using Include="Timberborn.SliderToggleSystem"/>
		<Using Include="Timberborn.SlotSystem"/>
		<Using Include="Timberborn.SoakedEffects"/>
		<Using Include="Timberborn.SoilBarrierSystem"/>
		<Using Include="Timberborn.SoilContaminationSystem"/>
		<Using Include="Timberborn.SoilMoistureSystem"/>
		<Using Include="Timberborn.SoilMoistureSystemUI"/>
		<Using Include="Timberborn.SoundSettingsSystem"/>
		<Using Include="Timberborn.SoundSystem"/>
		<Using Include="Timberborn.SpriteOperations"/>
		<Using Include="Timberborn.StartingLocationSystem"/>
		<Using Include="Timberborn.StatusSystem"/>
		<Using Include="Timberborn.StatusSystemUI"/>
		<Using Include="Timberborn.SteamOverlaySystem"/>
		<Using Include="Timberborn.SteamStoreSystem"/>
		<Using Include="Timberborn.SteamWorkshop"/>
		<Using Include="Timberborn.SteamWorkshopContent"/>
		<Using Include="Timberborn.SteamWorkshopMapDownloading"/>
		<Using Include="Timberborn.SteamWorkshopMapDownloadingUI"/>
		<Using Include="Timberborn.SteamWorkshopMapUploadingUI"/>
		<Using Include="Timberborn.SteamWorkshopModDownloading"/>
		<Using Include="Timberborn.SteamWorkshopModDownloadingUI"/>
		<Using Include="Timberborn.SteamWorkshopModUploadingUI"/>
		<Using Include="Timberborn.SteamWorkshopUI"/>
		<Using Include="Timberborn.StockpilePrioritySystem"/>
		<Using Include="Timberborn.StockpilePriorityUISystem"/>
		<Using Include="Timberborn.Stockpiles"/>
		<Using Include="Timberborn.StockpilesUI"/>
		<Using Include="Timberborn.StockpileVisualization"/>
		<Using Include="Timberborn.StockpileVisualizationUI"/>
		<Using Include="Timberborn.StorageBatchControl"/>
		<Using Include="Timberborn.StoreSystem"/>
		<Using Include="Timberborn.TailDecalSystem"/>
		<Using Include="Timberborn.TailDecalSystemUI"/>
		<Using Include="Timberborn.TemplateSystem"/>
		<Using Include="Timberborn.Terraforming"/>
		<Using Include="Timberborn.TerrainLevelValidation"/>
		<Using Include="Timberborn.TerrainNavigationSystem"/>
		<Using Include="Timberborn.TerrainPhysics"/>
		<Using Include="Timberborn.TerrainQueryingSystem"/>
		<Using Include="Timberborn.TerrainSystem"/>
		<Using Include="Timberborn.TerrainSystemRendering"/>
		<Using Include="Timberborn.TerrainSystemUI"/>
		<Using Include="Timberborn.TextureOperations"/>
		<Using Include="Timberborn.ThumbnailCapturing"/>
		<Using Include="Timberborn.ThumbnailSystem"/>
		<Using Include="Timberborn.TickSystem"/>
		<Using Include="Timberborn.TickSystemUI"/>
		<Using Include="Timberborn.Timbermesh"/>
		<Using Include="Timberborn.TimbermeshAnimations"/>
		<Using Include="Timberborn.TimbermeshDTO"/>
		<Using Include="Timberborn.TimbermeshEditorTools"/>
		<Using Include="Timberborn.TimbermeshMaterials"/>
		<Using Include="Timberborn.TimeSpeedButtonSystem"/>
		<Using Include="Timberborn.TimeSystem"/>
		<Using Include="Timberborn.TimeSystemUI"/>
		<Using Include="Timberborn.TitleScreenUI"/>
		<Using Include="Timberborn.ToolPanelSystem"/>
		<Using Include="Timberborn.ToolSystem"/>
		<Using Include="Timberborn.TooltipSystem"/>
		<Using Include="Timberborn.TopBarSystem"/>
		<Using Include="Timberborn.TransformControl"/>
		<Using Include="Timberborn.TubeSystem"/>
		<Using Include="Timberborn.TutorialSettingsSystem"/>
		<Using Include="Timberborn.TutorialSystem"/>
		<Using Include="Timberborn.TutorialSystemInitialization"/>
		<Using Include="Timberborn.TutorialSystemUI"/>
		<Using Include="Timberborn.UIFormatters"/>
		<Using Include="Timberborn.UILayoutSystem"/>
		<Using Include="Timberborn.UISound"/>
		<Using Include="Timberborn.UncuttableYielding"/>
		<Using Include="Timberborn.Versioning"/>
		<Using Include="Timberborn.VersioningSerialization"/>
		<Using Include="Timberborn.WalkingSystem"/>
		<Using Include="Timberborn.WalkingSystemUI"/>
		<Using Include="Timberborn.Wandering"/>
		<Using Include="Timberborn.WaterBrushesUI"/>
		<Using Include="Timberborn.WaterBuildings"/>
		<Using Include="Timberborn.WaterBuildingsUI"/>
		<Using Include="Timberborn.WaterContaminationBuildings"/>
		<Using Include="Timberborn.WaterContaminationBuildingsUI"/>
		<Using Include="Timberborn.WaterContaminationRendering"/>
		<Using Include="Timberborn.WaterObjects"/>
		<Using Include="Timberborn.WaterSourceSystem"/>
		<Using Include="Timberborn.WaterSourceSystemUI"/>
		<Using Include="Timberborn.WaterSystem"/>
		<Using Include="Timberborn.WaterSystemRendering"/>
		<Using Include="Timberborn.WaterSystemRenderingUI"/>
		<Using Include="Timberborn.WaterSystemUI"/>
		<Using Include="Timberborn.WaterWorkshops"/>
		<Using Include="Timberborn.WeatherSystem"/>
		<Using Include="Timberborn.WeatherSystemUI"/>
		<Using Include="Timberborn.WebNavigation"/>
		<Using Include="Timberborn.Wellbeing"/>
		<Using Include="Timberborn.WellbeingUI"/>
		<Using Include="Timberborn.WindSystem"/>
		<Using Include="Timberborn.WindSystemUI"/>
		<Using Include="Timberborn.WonderCompletion"/>
		<Using Include="Timberborn.WonderPlanes"/>
		<Using Include="Timberborn.Wonders"/>
		<Using Include="Timberborn.WondersUI"/>
		<Using Include="Timberborn.WorkerOutfitSystem"/>
		<Using Include="Timberborn.WorkerTypes"/>
		<Using Include="Timberborn.WorkerTypesUI"/>
		<Using Include="Timberborn.WorkplacesBatchControl"/>
		<Using Include="Timberborn.Workshops"/>
		<Using Include="Timberborn.WorkshopsEffects"/>
		<Using Include="Timberborn.WorkshopsUI"/>
		<Using Include="Timberborn.WorkSystem"/>
		<Using Include="Timberborn.WorkSystemUI"/>
		<Using Include="Timberborn.WorldPersistence"/>
		<Using Include="Timberborn.WorldSerialization"/>
		<Using Include="Timberborn.YielderFinding"/>
		<Using Include="Timberborn.Yielding"/>
		<Using Include="Timberborn.YieldingUI"/>
		<Using Include="Timberborn.ZiplineMovementSystem"/>
		<Using Include="Timberborn.ZiplineSystem"/>
		<Using Include="Timberborn.ZiplineSystemUI"/>
	</ItemGroup>
</Project>