@page "/automations"

@inject ApiService Api;

<BreadcrumbRenderer Breadcrumb="Breadcrumb.Automations" />

<div class="vstack gap-3">
	@if (automationsModEnabled is null)
	{
		<Spinner />
	}
	else if (automationsModEnabled == false)
	{
		<div class="alert alert-warning">
			Automations require the More HTTP API - Automations mod.
		</div>
	}
	else
	{
		<button class="btn btn-primary" @onclick="GetSnapshot">
			Get snapshot
		</button>

		@if (automationMap is not null)
		{
			<div>
				<h5>Automators (@(automationMap.Automators.Count))</h5>
				@foreach (var automator in automationMap.Automators)
				{
					<div class="border p-2 mb-2">
						<strong>@(automator.Entity.EntityId)</strong> - @(GetAutomatorKind(automator.Kind))
					</div>
				}
			</div>
		}
	}
</div>
