@page "/wiki"

<CommonPageTitle>Wiki</CommonPageTitle>

@code {
    static readonly ValueTuple<string, string, string>[] wikiPages = new[]
    {
        ("Goods", "/wiki/goods", "View all the goods in the game."),
        ("Buildings & Plants", "/wiki/templates", "View buildable objects of each faction."),        
    };
}

<BreadcrumbRenderer Breadcrumb="Breadcrumb.Wiki" />

<h2>Wiki</h2>

<p>
    All the data is pulled directly from your game.
    Any modded data will show up as well.
</p>

<div class="card-gallery">
    @foreach (var (name, link, desc) in wikiPages)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="@(link)" class="stretched-link">
                        @(name)
                    </a>
                </h5>
                <p class="card-text">
                    @(desc)
                </p>
            </div>
        </div>
    }

</div>
