@inject Loc T;
@inject ApiService Api;

@{
    var (faction, trees, crops, buildings) = CurrentFaction;
}

<h3>@(faction.DisplayName)</h3>

<div class="accordion">
    <AccordionItem InitiallyExpanded="false" Title="Trees">
        <div class="card-gallery">
            @foreach (var t in trees.Blueprints)
            {
                <LabeledTemplateElement Blueprint="t" />
            }
        </div>
    </AccordionItem>
    <AccordionItem InitiallyExpanded="false" Title="Crops">
        <div class="card-gallery">
            @foreach (var t in crops.Blueprints)
            {
                <LabeledTemplateElement Blueprint="t" />
            }
        </div>
    </AccordionItem>
    <AccordionItem InitiallyExpanded="false" Title="Buildings">
        <div>
            @foreach (var grp in buildings)
            {
                var grpInfo = grp.Group!;
                var name = T.T(grpInfo.NameLocKey);

                <div class="mb-3">
                    <h5>
                        <Image class="img-inline" Path="@(grpInfo.Icon)" alt="@(name)" />
                        <span>@(name)</span>
                    </h5>

                    <div class="card-gallery">
                        @foreach (var t in grp.Blueprints)
                        {
                            <LabeledTemplateElement Blueprint="t" />
                        }
                    </div>
                </div>
            }
        </div>
    </AccordionItem>
</div>