@page "/wiki/templates/details"

@inject Loc T;
@inject BlueprintApiService BlueprintApi;

@{
    var titleLoc = bp?.DisplayNameLoc;
    var title = titleLoc is null ? "…" : T.T(titleLoc);
}

<BreadcrumbRenderer Breadcrumb="breadcrumb" />

@if (err is not null)
{
    <div class="alert alert-danger">
        @(err)
    </div>
}
else
{
    <LoadablePage Title="@(title)" Model="bp">
        <h4>@(title)</h4>
    </LoadablePage>
}

