@page "/wiki"

<CommonPageTitle>Wiki</CommonPageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/wiki">Wiki</a></li>
    </ol>
</nav>

<h2>Wiki</h2>

<p>
    All the data is pulled directly from your game.
    Any modded data will show up as well.
</p>

<div class="card-gallery">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/wiki/templates" class="stretched-link">
                Buildings &amp; Plants
                </a>
            </h5>
            <p class="card-text">
                View buildable objects of each faction.
            </p>
        </div>
    </div>
</div>
